:root {
  /* 
  ==========Font Family====
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  } */

  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*TODO: Theme changer and variables for css*/
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  scrollbar-color: #8e8e8e #fff;
  scrollbar-width: thin;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body {
  position: relative;
  min-height: 100vh;
}
ul li {
  list-style: none;
}
button{
  outline: none;
}
.theme-icon{
  cursor: pointer;
  width: 1.2em;
  height: 1.2em;
  margin-right:60px ;
}
